*{
font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
 margin: 0;
}
.text-uppercase {
 text-transform: uppercase;
}

/*reutilizable*/
div.line {
  padding: 14px;
}
/************Para la linea y estrellas blancas*/
.line::after{
 width: 110px;
 height: 5px;
 content:'';
 display: inline-block;
 background: white;
}

icon.fa-star{
font-size: 30px;
position: relative;
padding: 7px;
top: 10px;
background: #18bc9c;
}

.line::before{
 width: 110px;
 height: 5px;
 content:'';
 display: inline-block;
 background:white;
}

/************Para la linea y estrellas blancas*/
.line-black::after{
 width: 110px;
 height: 5px;
 content:'';
 display: inline-block;
 background: black;
}

icon.black {
font-size: 30px;
position: relative;
padding: 7px;
top: 10px;
background:white;
}

.line-black::before{
 width: 110px;
 height: 5px;
 content:'';
 display: inline-block;
 background:black;
}

/*reutilizable*/


/*estilos para el encabezado*/
header {
 position: fixed;
 width: 100%;
 height: 100px;
 z-index: 9999;
 background: #2c3e50;

}

#menu {
 margin:30px 120px;
 font-weight: 700;
 overflow: auto;
 text-align: center;
 box-sizing: border-box;
}

div.box-rigth {
 padding: 7px;
 display: inline-block;
 float: right;
}

div.box-lefth{
 font-size: 28px;
 color: white;
 float: left;
}

.box-rigth a {
 text-decoration: none;
 margin: 0 7px;
 font-size: 16px;
 color: white;
}

.box-rigth a:hover {
 color: #18bc9c;
}
/****************************************************/
#boot {
 padding-top: 205px;
 padding-bottom: 70px;
 background:#18bc9c;
 text-align: center;
 color: white;

}

.text-start {
 font-size: 70px;
 font-weight: 700;
}

.sub-text {
 font-size: 28px;
}

/*******************************************************************/

#port {
 padding:70px;
 text-align: center;
}
/*reutilizable darle mas tamaño a todos los titulos*/
.tit {
 font-size: 42px;
 font-weight:700;
}

figure.portafolio {
 box-sizing: border-box;
 column-width: 33%;
 column-count: 3;
 padding:0 35px;

}

.portafolio img {
 max-width:100%;
 width: inherit;
 margin:14px;
}


/*a:hover {
 color: #18bc9c;
}*/


/**********************************************************************/
#about {
 background-color: #18bc9c;
 color: white;
 padding: 70px 210px;
 text-align: center;
}

div.parrafos {
 box-sizing: border-box;
 column-width: 50%;
 column-count: 2;
 column-gap: 42px;
 line-height: 1.5;
 font-size: 21px;
 padding:0 100px 35px 100px;
 text-align:left;
}

.button {
 border: solid 2px white;
 border-radius: 7px;
 padding: 14px;

}

a.btn {
 text-decoration: none;
 color:white;

}

.button:hover , a.btn:hover {
 background-color: white;
 color:#18bc9c;
}

/************************************************************************/
#contac {
text-align: center;
padding: 70px;
padding-bottom: 135px;

}
form {
 position: relative;
 text-align: center;
 margin-bottom: 28px;


}

input {
 width: 60%;
 border: none;
 margin-bottom: 21px;
 padding-bottom: 35px;
 border-bottom: 1px solid #eee;
 font-size: 21px;
}

textarea{
 width: 60%;
 border: none;
 font-size: 21px;
 border-bottom: 1px solid #eee;
}

button.butt {
 position: absolute;
 left: 240px;
 border: none;
 border-radius: 7px;
 padding: 14px;
 color: white;
 background: #18bc9c;
 font-weight:700;
 margin-top:14px;
}
.butt:hover {
 background-color:rgb(16, 108, 97);
}
/********************************************************************************/

footer {
 background-color: #2c3e50;
 color: white;
 text-align:center;
 height: 340px;
}

nav#footer {
 column-count: 3;
 column-width: 30%;
 padding: 60px 142px;
}

div.foot {
 height: 140px;
}

.box-footer {
 font-size: 28px;
 padding-bottom: 21px;
 font-weight: 700;
}

.text-footer {
 font-size: 21px;
}

a.leter {
 color: #18bc9c;
 text-decoration: none;
}
a.leter:hover {
 text-decoration:underline;
}

i.icon{
  font-size: 21px;
  border-radius: 50px;
  padding: 7px;
  border: 1px solid white;
  height: 25px;
  width: 25px;
}
